<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Software Developer Portfolio</title>
  </head>
  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <header class="bg-white shadow-md p-6 mb-6">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <img src="/images/profile.jpg" alt="Profile picture" class="w-12 h-12 rounded-full mr-4" />
          <h1 class="text-3xl font-bold text-gray-800">Software Developer Portfolio</h1>
        </div>
        <nav class="flex justify-between items-center mt-4">
          <ul class="list-none flex items-center text-gray-700 font-bold text-sm">
            <li class="mr-6"><a href="#about" class="text-gray-700 hover:text-gray-800">About</a></li>
            <li class="mr-6"><a href="#skills" class="text-gray-700 hover:text-gray-800">Skills</a></li>
            <li class="mr-6"><a href="#projects" class="text-gray-700 hover:text-gray-800">Projects</a></li>
            <li class="mr-6"><a href="#experience" class="text-gray-700 hover:text-gray-800">Experience</a></li>
            <li class="mr-6"><a href="#education" class="text-gray-700 hover:text-gray-800">Education</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section id="about" class="p-6 mb-6">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">About</h2>
        <p class="text-gray-700 text-lg leading-relaxed">
          Hi there! I'm a software developer from 🇹🇳 with a background in mathematics and algorithms.
          have a strong foundation in problem-solving and analytical thinking, which I apply to my work as a developer to create efficient and effective solutions for my clients and team members. In my free time, I enjoy staying up-to-date on the latest trends and techniques in the field, and I'm always looking for new opportunities to learn and grow as a developer.
        </p>
      </section>
      <section id="skills" class="p-6 mb-6">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Skills</h2>
        <ul class="list-none text-gray-700 font-bold text-lg">
          <li class="mb-2">Phoenix Elixir LiveView</li>
          <li class="mb-2">C# with Microsoft .Net Environment</li>
          <li class="mb-2">Matlab and Labview</li>
          <li class="mb-2">Python</li>
          <li class="mb-2">JavaScript</li>
          <li class="mb-2">HTML/CSS with tailwind</li>
          <li class="mb-2">Agile development</li>
          <li class="mb-2">Git</li>
        </ul>
      </section>
      <section id="experience" class="p-6 mb-6">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Experience</h2>
        <ul>
          <li class="mb-6">
            <h3 class="text-xl font-bold text-gray-800 mb-2">Software Developer</h3>
            <p class="text-gray-700 text-lg leading-relaxed">Industrial ML</p>
            <ul>
              <li class="mb-6">
                Building various features in the IML web application using the Phoenix framework (Elixir).
              </li>
              <li class="mb-6">
                Maintaining and adding tests and various features for the IML web application.
              </li>
              <li class="mb-6">
                Building a pipeline that does Image classifications on products in real time while streaming.
              </li>
            </ul>
          </li>
          <li class="mb-6">
            <h3 class="text-xl font-bold text-gray-800 mb-2">Software Developer</h3>
            <p class="text-gray-700 text-lg leading-relaxed">4D Sensors</p>
            <ul>
              <li class="mb-6">
                Developing Image Processing software applications and interfaces using .Net framework and .Net Core (C#, WPF).
              </li>
              <li class="mb-6">
                Developing real-time analysis software applications based on computer vision algorithms to detect planar vibrations and strain distribution measurements.
              </li>
              <li class="mb-6">
                Implementing and developing an algorithm for tracking objects that works with robot arms.
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <section id="projects" class="p-6 mb-6">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Projects</h2>
        <ul>
          <li class="mb-6">
            <h3 class="text-xl font-bold text-gray-800 mb-2">My Fantasy</h3>
            <p class="text-gray-700 text-lg leading-relaxed">
              A Web application that provide support helps to game masters, it comes with an API and I m planning to integrate in the near future Open AI Api in it.
            </p>
          </li>
          <li class="mb-6">
            <h3 class="text-xl font-bold text-gray-800 mb-2">Vegan King</h3>
            <p class="text-gray-700 text-lg leading-relaxed">
              A Tower defense game that is built using Godot and C#
            </p>
          </li>
        </ul>
      </section>

      <section id="education" class="p-6 mb-6">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Education</h2>
        <ul>
          <li class="mb-6">
            <h3 class="text-xl font-bold text-gray-800 mb-2">
              <a href={"#{certificate_link()}"}>Masters of Engineering degree in advanced technologies</a>
            </h3>
            <p class="text-gray-700 text-lg leading-relaxed">University of Carthage</p>
            <p class="text-gray-700 text-lg leading-relaxed">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.
            </p>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
